.bg-app{
    background-color: #799362;
}

.bg-app-admin{
    background-color: #00684A;
}

.note{
    font-size: 30px;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 1;
    text-align: center;
    display: inline-block;
}

.note-deco{
    line-height: 0.14;
    display:flex; 
    justify-content: center;
}

.hidden-note-deco{
    line-height: 0.14;
    visibility:hidden; 
    justify-content: center;
}

.avatar-toolbox{
    background-color: #799362; 
    border: 2px solid black;
    margin-bottom: 10px;
    display: block;
}

.avatar-user{
    background-color: #799362; 
    border: 2px solid black;
    margin-left: 10px;
}

.empty-info{
    color: grey;
}